@font-face {
  font-family: "Noto Sans";
  src: url("/src/styles/fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.home-page {
  position: block;
  overflow-x: hidden;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peer-bear {
  width: 40vh;
  margin-left: auto;
}

.welcomeText {
  font-family: "Noto Sans";
  color: #502a13;
  font-size: 6em;
  margin-left: 20vw;
  text-align: center;
}

.Login-button {
  width: 14vw;
  height: 8vh;
  border-radius: 15px;
  background-color: #ffe8c7;
  font-size: 3.5vh;
  font-weight: bold;
  color: #bb7817;
  cursor: pointer;
  border-color: #ffe8c7;
  border-radius: none;
  outline: #ffe8c7;
  margin-left: 43vw;
  margin-bottom: 3vh;
}

.SignOut {
  justify-self: right;
  font-size: 50px;
  width: 20vw;
  margin-left: 63vw;
  width: 14vw;
  height: 8vh;
  border-radius: 15px;
  background-color: #502a13;
  font-size: 3.5vh;
  font-weight: bold;
  color: #ffe8c7;
  cursor: pointer;
  border-color: #502a13;
  border-radius: none;
  outline: #502a13;
}
